/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///LUCKFIRE - LOREMLY - BUBBLE BAR - ROUNDED CHAT BAR - https://github.com/discord-extensions/bubble-bar/blob/master/LICENSE
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

:root {
  /* || Main */
  --channeltextarea-rounding: 25px;
  --channeltextarea-background: var(--background-secondary-alt);
  --channeltextarea-border: var(--background-secondary);
  /* || Default Buttons */
  --channeltextarea-button-rounding: 50%;
  --channeltextarea-button-icon: var(--interactive-normal);
  --channeltextarea-button-background: var(--channeltextarea-background);
  --channeltextarea-button-hover: var(--background-tertiary);
  /* || Accents */
  --channeltextarea-caret: var(--brand-experiment-400);
  --channeltextarea-sendbutton-icon: var(--brand-experiment-130);
  --channeltextarea-sendbutton-background: var(--brand-experiment);
  --channeltextarea-sendbutton-hover: var(--brand-experiment-460);
  --channeltextarea-sendbutton-active: var(--brand-experiment-530);
}

.base__3e6af .channelTextArea_af1f8b,
.base__3e6af .channelTextArea__2e60f,
.base__3e6af .scrollableContainer__33e06 {
  background-color: transparent;
}
.base__3e6af .channelTextArea__56a36 .inner__9fd0b {
  margin-right: -5px;
}
.base__3e6af .channelTextArea__56a36 .inner__9fd0b .textArea__74543 {
  margin-right: 5px;
  border-radius: var(--channeltextarea-rounding);
  background-color: var(--channeltextarea-background);
}
.base__3e6af .channelTextArea__56a36 .inner__9fd0b .textArea__74543 .fontSize16Padding__48818 {
  left: 16px;
  padding-left: 0;
}
.base__3e6af .channelTextArea__56a36 .inner__9fd0b .textArea__74543 .slateTextArea__0661c {
  margin-right: 44px;
  caret-color: var(--channeltextarea-caret);
  border-radius: var(--channeltextarea-rounding);
}
.base__3e6af .channelTextArea__56a36 .inner__9fd0b .buttons_ce5b56 {
  margin-right: 0;
}
.base__3e6af .channelTextArea__56a36 .inner__9fd0b .button_afdfd9 {
  width: 44px;
  height: 44px;
  margin-right: 5px;
  margin-left: 0;
  padding: 0;
  border-radius: var(--channeltextarea-button-rounding);
  background-color: var(--channeltextarea-button-background);
  transition: background-color ease-in-out 125ms;
}
.base__3e6af .channelTextArea__56a36 .inner__9fd0b .button_afdfd9:hover:not([disabled]),
.base__3e6af .channelTextArea__56a36 .inner__9fd0b .button_afdfd9:active:not([disabled]) {
  background-color: var(--channeltextarea-button-hover);
}
.base__3e6af .channelTextArea__56a36 .inner__9fd0b .button_afdfd9.emojiButton__30ec7 {
  background-color: transparent;
}
.base__3e6af .channelTextArea__56a36 .inner__9fd0b .button_afdfd9 .sprite__294b3 {
  margin-bottom: 2px;
  background-color: var(--channeltextarea-button-icon);
  background-size: unset !important;
  background-position: unset !important;
  background-image: none !important;
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDJDNi40NzcgMiAyIDYuNDc3IDIgMTJDMiAxNy41MjIgNi40NzcgMjIgMTIgMjJDMTcuNTIzIDIyIDIyIDE3LjUyMiAyMiAxMkMyMiA2LjQ3NyAxNy41MjMgMiAxMiAyWk04IDZDOS4xMDQgNiAxMCA2Ljg5NiAxMCA4QzEwIDkuMTA1IDkuMTA0IDEwIDggMTBDNi44OTYgMTAgNiA5LjEwNSA2IDhDNiA2Ljg5NiA2Ljg5NiA2IDggNlpNMTggMTRDMTggMTYuNjE3IDE1LjE0IDE5IDEyIDE5QzguODYgMTkgNiAxNi42MTcgNiAxNFYxM0gxOFYxNFpNMTYgMTBDMTQuODk2IDEwIDE0IDkuMTA1IDE0IDhDMTQgNi44OTYgMTQuODk2IDYgMTYgNkMxNy4xMDQgNiAxOCA2Ljg5NiAxOCA4QzE4IDkuMTA1IDE3LjEwNCAxMCAxNiAxMFoiIGZpbGw9ImN1cnJlbnRDb2xvciIvPgo8L3N2Zz4=);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDJDNi40NzcgMiAyIDYuNDc3IDIgMTJDMiAxNy41MjIgNi40NzcgMjIgMTIgMjJDMTcuNTIzIDIyIDIyIDE3LjUyMiAyMiAxMkMyMiA2LjQ3NyAxNy41MjMgMiAxMiAyWk04IDZDOS4xMDQgNiAxMCA2Ljg5NiAxMCA4QzEwIDkuMTA1IDkuMTA0IDEwIDggMTBDNi44OTYgMTAgNiA5LjEwNSA2IDhDNiA2Ljg5NiA2Ljg5NiA2IDggNlpNMTggMTRDMTggMTYuNjE3IDE1LjE0IDE5IDEyIDE5QzguODYgMTkgNiAxNi42MTcgNiAxNFYxM0gxOFYxNFpNMTYgMTBDMTQuODk2IDEwIDE0IDkuMTA1IDE0IDhDMTQgNi44OTYgMTQuODk2IDYgMTYgNkMxNy4xMDQgNiAxOCA2Ljg5NiAxOCA4QzE4IDkuMTA1IDE3LjEwNCAxMCAxNiAxMFoiIGZpbGw9ImN1cnJlbnRDb2xvciIvPgo8L3N2Zz4=);
  transform: none !important;
  filter: none !important;
}

.channelTextArea_af1f8b .buttonContainer__8b164 {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
}
.channelTextArea_af1f8b .buttonContainer__8b164 .button__55e53 {
  background-color: transparent !important;
}

.chatContent__5dca8 .jumpToPresentBar__0ff7f {
  display: block;
  left: calc(100% - 50px);
  width: 0;
  height: 0;
  bottom: 50px;
}
.chatContent__5dca8 .jumpToPresentBar__0ff7f .barButtonMain__0f5c6,
.chatContent__5dca8 .jumpToPresentBar__0ff7f .spinner-2RT7ZC {
  display: none;
}
.chatContent__5dca8 .jumpToPresentBar__0ff7f .barButtonAlt__4b48f {
  top: 0;
  width: 0;
  height: 0;
  font-size: 0;
}
.chatContent__5dca8 .jumpToPresentBar__0ff7f .barButtonAlt__4b48f .barButtonIcon__907ef {
  z-index: 100;
  position: absolute;
  display: unset;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin-left: 0;
  padding: 9px;
  border-radius: 50px;
  color: var(--interactive-normal);
  background-color: var(--background-tertiary);
}
.chatContent__5dca8 .form__13a2c {
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--channeltextarea-border);
}
.chatContent__5dca8 .form__13a2c::before {
  display: none;
}
.chatContent__5dca8 .form__13a2c .channelTextArea__2e60f {
  margin: 0;
  padding: 0;
}
.chatContent__5dca8 .form__13a2c .channelTextArea__2e60f .attachedBars_da3c74 {
  border-radius: 0;
  background-color: var(--background-secondary-alt);
}
.chatContent__5dca8 .form__13a2c .channelTextArea__2e60f .attachedBars_da3c74 .replyBar_b64d74,
.chatContent__5dca8
  .form__13a2c
  .channelTextArea__2e60f
  .attachedBars_da3c74
  .threadSuggestionBar_b633f7 {
  background-color: transparent;
}
.chatContent__5dca8 .form__13a2c .channelTextArea__2e60f .channelAttachmentArea__740bf {
  margin-top: -11px;
  margin-bottom: 5px;
  margin-left: 0;
}
.chatContent__5dca8
  .form__13a2c
  .channelTextArea__2e60f
  .channelAttachmentArea__740bf
  + .divider_b9338f {
  display: none;
}
.chatContent__5dca8
  .form__13a2c
  .channelTextArea__2e60f
  .channelAttachmentArea__740bf
  .wrapper_c727b6 {
  background-color: var(--background-floating);
}
.chatContent__5dca8 .form__13a2c .channelTextArea__2e60f .scrollableContainer__33e06 {
  padding: 15px;
  overflow-y: unset;
}
.chatContent__5dca8 .form__13a2c .channelTextArea__2e60f .scrollableContainer__33e06 .inner__9fd0b {
  padding-left: 0;
  width: 100%;
}
.chatContent__5dca8
  .form__13a2c
  .channelTextArea__2e60f
  .scrollableContainer__33e06
  .inner__9fd0b
  .buttons_ce5b56
  > button
  ~ .expression-picker-chat-input-button:not(:nth-child(4)) {
  display: none;
}
.chatContent__5dca8
  .form__13a2c
  .channelTextArea__2e60f
  .scrollableContainer__33e06
  .inner__9fd0b
  .buttons_ce5b56
  .emojiButton__8ff6a {
  display: flex !important;
  order: -1;
  position: absolute;
  left: -50px;
}
.chatContent__5dca8
  .form__13a2c
  .channelTextArea__2e60f
  .scrollableContainer__33e06
  .inner__9fd0b
  .buttons_ce5b56
  .emojiButton__8ff6a
  .button_afdfd9 {
  background-color: transparent;
}
.chatContent__5dca8
  .form__13a2c
  .channelTextArea__2e60f
  .scrollableContainer__33e06
  .inner__9fd0b
  .buttons_ce5b56
  .separator__8424b {
  margin: 0;
}
.chatContent__5dca8
  .form__13a2c
  .channelTextArea__2e60f
  .scrollableContainer__33e06
  .inner__9fd0b
  .buttons_ce5b56
  .separator__8424b::before {
  display: none;
}
.chatContent__5dca8
  .form__13a2c
  .channelTextArea__2e60f
  .scrollableContainer__33e06
  .inner__9fd0b
  .buttons_ce5b56
  .separator__8424b
  .button_afdfd9 {
  margin-right: 0;
}
.chatContent__5dca8
  .form__13a2c
  .channelTextArea__2e60f
  .scrollableContainer__33e06
  .inner__9fd0b
  .buttons_ce5b56
  .separator__8424b
  .button_afdfd9
  .innerButton_debeee {
  margin-left: 2px;
  margin-right: 0;
  transition: background-color 200ms ease;
}
.chatContent__5dca8
  .form__13a2c
  .channelTextArea__2e60f
  .scrollableContainer__33e06
  .inner__9fd0b
  .buttons_ce5b56
  .separator__8424b
  .button_afdfd9
  .innerButton_debeee
  svg {
  opacity: 0.25;
  transition: all 200ms ease;
}
.chatContent__5dca8
  .form__13a2c
  .channelTextArea__2e60f
  .scrollableContainer__33e06
  .inner__9fd0b
  .buttons_ce5b56
  .separator__8424b
  .button_afdfd9:not([disabled]) {
  background-color: var(--channeltextarea-sendbutton-background);
}
.chatContent__5dca8
  .form__13a2c
  .channelTextArea__2e60f
  .scrollableContainer__33e06
  .inner__9fd0b
  .buttons_ce5b56
  .separator__8424b
  .button_afdfd9:not([disabled]):hover {
  background-color: var(--channeltextarea-sendbutton-hover);
}
.chatContent__5dca8
  .form__13a2c
  .channelTextArea__2e60f
  .scrollableContainer__33e06
  .inner__9fd0b
  .buttons_ce5b56
  .separator__8424b
  .button_afdfd9:not([disabled]):active {
  background-color: var(--channeltextarea-sendbutton-active);
}
.chatContent__5dca8
  .form__13a2c
  .channelTextArea__2e60f
  .scrollableContainer__33e06
  .inner__9fd0b
  .buttons_ce5b56
  .separator__8424b
  .button_afdfd9:not([disabled])
  svg {
  opacity: 1;
  color: var(--channeltextarea-sendbutton-icon);
}
.chatContent__5dca8
  .form__13a2c
  .channelTextArea__2e60f
  .scrollableContainer__33e06
  .inner__9fd0b
  .attachButton_eba568
  .attachButtonPlus_bf89ca {
  d: path("M10.6667 4V10.6667H4V13.3333H10.6667V20H13.3333V13.3333H20V10.6667H13.3333V4H10.6667Z");
  fill: var(--channeltextarea-button-icon);
}
.chatContent__5dca8
  .form__13a2c
  .channelTextArea__2e60f
  .scrollableContainer__33e06
  .inner__9fd0b
  .attachButton_eba568
  .attachButtonPlay_edf919 {
  display: none;
}
.chatContent__5dca8
  .form__13a2c
  .channelTextArea__2e60f
  .scrollableContainer__33e06
  .inner__9fd0b
  .characterCount_e55010 {
  right: unset;
  bottom: 0;
  left: 15px;
}
.chatContent__5dca8 .form__13a2c .typing__6fd1d {
  top: -24px;
  right: 0;
  left: 0;
  padding-right: 5px;
  border-bottom: 1px solid var(--background-primary);
  background-color: var(--background-secondary-alt);
}
.chatContent__5dca8 .scrollerSpacer__9cd32 {
  height: 25px;
}

#app-mount .drawerSizingWrapper__30274 {
  right: 114px;
}
#app-mount .drawerSizingWrapper__30274 .navList__9f792 #emoji-picker-tab {
  order: 1;
  margin-left: 0;
}
#app-mount .drawerSizingWrapper__30274 .navList__9f792 #sticker-picker-tab {
  order: 2;
}
#app-mount .drawerSizingWrapper__30274 .navList__9f792 #gif-picker-tab {
  order: 3;
  margin-left: 8px;
}
#app-mount .autocomplete__0c75a {
  bottom: 100%;
  padding-left: 8px;
  border-radius: 0;
  box-shadow: none;
  background-color: var(--background-secondary-alt);
}
#app-mount .autocomplete_df266d {
  bottom: 100%;
  border-radius: 0;
  box-shadow: none;
  background-color: var(--background-secondary-alt);
}
#app-mount .autocomplete_df266d .categoryHeader_f97a5f {
  background-color: var(--background-secondary-alt);
}
#app-mount .attachedBars_da3c74 ~ .autocomplete__0c75a,
#app-mount .attachedBars_da3c74 ~ .autocomplete_df266d {
  border-bottom: 1px solid var(--background-primary);
}
#app-mount .stickerIconOffset__86287 {
  display: none;
}
.attachButtonInner__3ce2b {
  height: 25px !important;
}
