/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///LUCKFIRE - LOREMLY - BUBBLE BAR - ROUNDED CHAT BAR - https://github.com/discord-extensions/bubble-bar/blob/master/LICENSE
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

:root {
  /* || Main */
  --channeltextarea-rounding: 25px;
  --channeltextarea-background: var(--background-secondary-alt);
  --channeltextarea-border: var(--background-secondary);
  /* || Default Buttons */
  --channeltextarea-button-rounding: 50%;
  --channeltextarea-button-icon: var(--interactive-normal);
  --channeltextarea-button-background: var(--channeltextarea-background);
  --channeltextarea-button-hover: var(--background-tertiary);
  /* || Accents */
  --channeltextarea-caret: var(--brand-experiment-400);
  --channeltextarea-sendbutton-icon: var(--brand-experiment-130);
  --channeltextarea-sendbutton-background: var(--brand-experiment);
  --channeltextarea-sendbutton-hover: var(--brand-experiment-460);
  --channeltextarea-sendbutton-active: var(--brand-experiment-530);
}

.base_c0676e .channelTextArea__626ee,
.base_c0676e .channelTextArea_c2094b,
.base_c0676e .scrollableContainer_ff917f {
  background-color: transparent;
}
.base_c0676e .channelTextArea__648e5 .inner__9fd0b {
  margin-right: -5px;
}
.base_c0676e .channelTextArea__648e5 .inner__9fd0b .textArea_a86690 {
  margin-right: 5px;
  border-radius: var(--channeltextarea-rounding);
  background-color: var(--channeltextarea-background);
}
.base_c0676e .channelTextArea__648e5 .inner__9fd0b .textArea_a86690 .fontSize16Padding_bcbeae {
  left: 16px;
  padding-left: 0;
}
.base_c0676e .channelTextArea__648e5 .inner__9fd0b .textArea_a86690 .slateTextArea_b19976 {
  margin-right: 44px;
  caret-color: var(--channeltextarea-caret);
  border-radius: var(--channeltextarea-rounding);
}
.base_c0676e .channelTextArea__648e5 .inner__9fd0b .buttons__7ecff {
  margin-right: 0;
}
.base_c0676e .channelTextArea__648e5 .inner__9fd0b .button__581d0 {
  width: 44px;
  height: 44px;
  margin-right: 5px;
  margin-left: 0;
  padding: 0;
  border-radius: var(--channeltextarea-button-rounding);
  background-color: var(--channeltextarea-button-background);
  transition: background-color ease-in-out 125ms;
}
.base_c0676e .channelTextArea__648e5 .inner__9fd0b .button__581d0:hover:not([disabled]),
.base_c0676e .channelTextArea__648e5 .inner__9fd0b .button__581d0:active:not([disabled]) {
  background-color: var(--channeltextarea-button-hover);
}
.base_c0676e .channelTextArea__648e5 .inner__9fd0b .button__581d0.emojiButton_b63c38 {
  background-color: transparent;
}
.base_c0676e .channelTextArea__648e5 .inner__9fd0b .button__581d0 .sprite__294b3 {
  margin-bottom: 2px;
  background-color: var(--channeltextarea-button-icon);
  background-size: unset !important;
  background-position: unset !important;
  background-image: none !important;
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDJDNi40NzcgMiAyIDYuNDc3IDIgMTJDMiAxNy41MjIgNi40NzcgMjIgMTIgMjJDMTcuNTIzIDIyIDIyIDE3LjUyMiAyMiAxMkMyMiA2LjQ3NyAxNy41MjMgMiAxMiAyWk04IDZDOS4xMDQgNiAxMCA2Ljg5NiAxMCA4QzEwIDkuMTA1IDkuMTA0IDEwIDggMTBDNi44OTYgMTAgNiA5LjEwNSA2IDhDNiA2Ljg5NiA2Ljg5NiA2IDggNlpNMTggMTRDMTggMTYuNjE3IDE1LjE0IDE5IDEyIDE5QzguODYgMTkgNiAxNi42MTcgNiAxNFYxM0gxOFYxNFpNMTYgMTBDMTQuODk2IDEwIDE0IDkuMTA1IDE0IDhDMTQgNi44OTYgMTQuODk2IDYgMTYgNkMxNy4xMDQgNiAxOCA2Ljg5NiAxOCA4QzE4IDkuMTA1IDE3LjEwNCAxMCAxNiAxMFoiIGZpbGw9ImN1cnJlbnRDb2xvciIvPgo8L3N2Zz4=);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDJDNi40NzcgMiAyIDYuNDc3IDIgMTJDMiAxNy41MjIgNi40NzcgMjIgMTIgMjJDMTcuNTIzIDIyIDIyIDE3LjUyMiAyMiAxMkMyMiA2LjQ3NyAxNy41MjMgMiAxMiAyWk04IDZDOS4xMDQgNiAxMCA2Ljg5NiAxMCA4QzEwIDkuMTA1IDkuMTA0IDEwIDggMTBDNi44OTYgMTAgNiA5LjEwNSA2IDhDNiA2Ljg5NiA2Ljg5NiA2IDggNlpNMTggMTRDMTggMTYuNjE3IDE1LjE0IDE5IDEyIDE5QzguODYgMTkgNiAxNi42MTcgNiAxNFYxM0gxOFYxNFpNMTYgMTBDMTQuODk2IDEwIDE0IDkuMTA1IDE0IDhDMTQgNi44OTYgMTQuODk2IDYgMTYgNkMxNy4xMDQgNiAxOCA2Ljg5NiAxOCA4QzE4IDkuMTA1IDE3LjEwNCAxMCAxNiAxMFoiIGZpbGw9ImN1cnJlbnRDb2xvciIvPgo8L3N2Zz4=);
  transform: none !important;
  filter: none !important;
}

.channelTextArea__626ee .buttonContainer_ff1010 {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
}
.channelTextArea__626ee .buttonContainer_ff1010 .button__493d9 {
  background-color: transparent !important;
}

.chatContent_f087cb .jumpToPresentBar__69174 {
  display: block;
  left: calc(100% - 50px);
  width: 0;
  height: 0;
  bottom: 50px;
}
.chatContent_f087cb .jumpToPresentBar__69174 .barButtonMain__984b4,
.chatContent_f087cb .jumpToPresentBar__69174 .spinner-2RT7ZC {
  display: none;
}
.chatContent_f087cb .jumpToPresentBar__69174 .barButtonAlt_e800ef {
  top: 0;
  width: 0;
  height: 0;
  font-size: 0;
}
.chatContent_f087cb .jumpToPresentBar__69174 .barButtonAlt_e800ef .barButtonIcon__8b27d {
  z-index: 100;
  position: absolute;
  display: unset;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin-left: 0;
  padding: 9px;
  border-radius: 50px;
  color: var(--interactive-normal);
  background-color: var(--background-tertiary);
}
.chatContent_f087cb .form_d8a4a1 {
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--channeltextarea-border);
}
.chatContent_f087cb .form_d8a4a1::before {
  display: none;
}
.chatContent_f087cb .form_d8a4a1 .channelTextArea_c2094b {
  margin: 0;
  padding: 0;
}
.chatContent_f087cb .form_d8a4a1 .channelTextArea_c2094b .attachedBars_c1606a {
  border-radius: 0;
  background-color: var(--background-secondary-alt);
}
.chatContent_f087cb .form_d8a4a1 .channelTextArea_c2094b .attachedBars_c1606a .replyBar_ed6afc,
.chatContent_f087cb
  .form_d8a4a1
  .channelTextArea_c2094b
  .attachedBars_c1606a
  .threadSuggestionBar__717a3 {
  background-color: transparent;
}
.chatContent_f087cb .form_d8a4a1 .channelTextArea_c2094b .channelAttachmentArea__5e46a {
  margin-top: -11px;
  margin-bottom: 5px;
  margin-left: 0;
}
.chatContent_f087cb
  .form_d8a4a1
  .channelTextArea_c2094b
  .channelAttachmentArea__5e46a
  + .divider__855e3 {
  display: none;
}
.chatContent_f087cb
  .form_d8a4a1
  .channelTextArea_c2094b
  .channelAttachmentArea__5e46a
  .wrapper__4e6b6 {
  background-color: var(--background-floating);
}
.chatContent_f087cb .form_d8a4a1 .channelTextArea_c2094b .scrollableContainer_ff917f {
  padding: 15px;
  overflow-y: unset;
}
.chatContent_f087cb .form_d8a4a1 .channelTextArea_c2094b .scrollableContainer_ff917f .inner__9fd0b {
  padding-left: 0;
  width: 100%;
}
.chatContent_f087cb
  .form_d8a4a1
  .channelTextArea_c2094b
  .scrollableContainer_ff917f
  .inner__9fd0b
  .buttons__7ecff
  > button
  ~ .expression-picker-chat-input-button:not(:nth-child(4)) {
  display: none;
}
.chatContent_f087cb
  .form_d8a4a1
  .channelTextArea_c2094b
  .scrollableContainer_ff917f
  .inner__9fd0b
  .buttons__7ecff
  .emojiButton__176c8 {
  display: flex !important;
  order: -1;
  position: absolute;
  left: -50px;
}
.chatContent_f087cb
  .form_d8a4a1
  .channelTextArea_c2094b
  .scrollableContainer_ff917f
  .inner__9fd0b
  .buttons__7ecff
  .emojiButton__176c8
  .button__581d0 {
  background-color: transparent;
}
.chatContent_f087cb
  .form_d8a4a1
  .channelTextArea_c2094b
  .scrollableContainer_ff917f
  .inner__9fd0b
  .buttons__7ecff
  .separator__666aa {
  margin: 0;
}
.chatContent_f087cb
  .form_d8a4a1
  .channelTextArea_c2094b
  .scrollableContainer_ff917f
  .inner__9fd0b
  .buttons__7ecff
  .separator__666aa::before {
  display: none;
}
.chatContent_f087cb
  .form_d8a4a1
  .channelTextArea_c2094b
  .scrollableContainer_ff917f
  .inner__9fd0b
  .buttons__7ecff
  .separator__666aa
  .button__581d0 {
  margin-right: 0;
}
.chatContent_f087cb
  .form_d8a4a1
  .channelTextArea_c2094b
  .scrollableContainer_ff917f
  .inner__9fd0b
  .buttons__7ecff
  .separator__666aa
  .button__581d0
  .innerButton__9efb8 {
  margin-left: 2px;
  margin-right: 0;
  transition: background-color 200ms ease;
}
.chatContent_f087cb
  .form_d8a4a1
  .channelTextArea_c2094b
  .scrollableContainer_ff917f
  .inner__9fd0b
  .buttons__7ecff
  .separator__666aa
  .button__581d0
  .innerButton__9efb8
  svg {
  opacity: 0.25;
  transition: all 200ms ease;
}
.chatContent_f087cb
  .form_d8a4a1
  .channelTextArea_c2094b
  .scrollableContainer_ff917f
  .inner__9fd0b
  .buttons__7ecff
  .separator__666aa
  .button__581d0:not([disabled]) {
  background-color: var(--channeltextarea-sendbutton-background);
}
.chatContent_f087cb
  .form_d8a4a1
  .channelTextArea_c2094b
  .scrollableContainer_ff917f
  .inner__9fd0b
  .buttons__7ecff
  .separator__666aa
  .button__581d0:not([disabled]):hover {
  background-color: var(--channeltextarea-sendbutton-hover);
}
.chatContent_f087cb
  .form_d8a4a1
  .channelTextArea_c2094b
  .scrollableContainer_ff917f
  .inner__9fd0b
  .buttons__7ecff
  .separator__666aa
  .button__581d0:not([disabled]):active {
  background-color: var(--channeltextarea-sendbutton-active);
}
.chatContent_f087cb
  .form_d8a4a1
  .channelTextArea_c2094b
  .scrollableContainer_ff917f
  .inner__9fd0b
  .buttons__7ecff
  .separator__666aa
  .button__581d0:not([disabled])
  svg {
  opacity: 1;
  color: var(--channeltextarea-sendbutton-icon);
}
.chatContent_f087cb
  .form_d8a4a1
  .channelTextArea_c2094b
  .scrollableContainer_ff917f
  .inner__9fd0b
  .attachButton__5f6dc
  .attachButtonPlus_fd0021 {
  d: path("M10.6667 4V10.6667H4V13.3333H10.6667V20H13.3333V13.3333H20V10.6667H13.3333V4H10.6667Z");
  fill: var(--channeltextarea-button-icon);
}
.chatContent_f087cb
  .form_d8a4a1
  .channelTextArea_c2094b
  .scrollableContainer_ff917f
  .inner__9fd0b
  .attachButton__5f6dc
  .attachButtonPlay__6ccc4 {
  display: none;
}
.chatContent_f087cb
  .form_d8a4a1
  .channelTextArea_c2094b
  .scrollableContainer_ff917f
  .inner__9fd0b
  .characterCount__7e076 {
  right: unset;
  bottom: 0;
  left: 15px;
}
.chatContent_f087cb .form_d8a4a1 .typing__6fd1d {
  top: -24px;
  right: 0;
  left: 0;
  padding-right: 5px;
  border-bottom: 1px solid var(--background-primary);
  background-color: var(--background-secondary-alt);
}
.chatContent_f087cb .scrollerSpacer__6b1b6 {
  height: 25px;
}

#app-mount .drawerSizingWrapper_e20f1f {
  right: 114px;
}
#app-mount .drawerSizingWrapper_e20f1f .navList__5c9f4 #emoji-picker-tab {
  order: 1;
  margin-left: 0;
}
#app-mount .drawerSizingWrapper_e20f1f .navList__5c9f4 #sticker-picker-tab {
  order: 2;
}
#app-mount .drawerSizingWrapper_e20f1f .navList__5c9f4 #gif-picker-tab {
  order: 3;
  margin-left: 8px;
}
#app-mount .autocomplete__2e602 {
  bottom: 100%;
  padding-left: 8px;
  border-radius: 0;
  box-shadow: none;
  background-color: var(--background-secondary-alt);
}
#app-mount .autocomplete__743a5 {
  bottom: 100%;
  border-radius: 0;
  box-shadow: none;
  background-color: var(--background-secondary-alt);
}
#app-mount .autocomplete__743a5 .categoryHeader__70c8e {
  background-color: var(--background-secondary-alt);
}
#app-mount .attachedBars_c1606a ~ .autocomplete__2e602,
#app-mount .attachedBars_c1606a ~ .autocomplete__743a5 {
  border-bottom: 1px solid var(--background-primary);
}
#app-mount .stickerIconOffset__72063 {
  display: none;
}
.attachButtonInner__84c26 {
  height: 25px !important;
}
