/* --------- Faux Title Bar macOS x-+ ---------  
> The faux title bar itself */
.typeMacOS_cacc59 {
    position: relative;
    width: 100%;
    height: 35px;
  }
  .theme-dark .typeMacOS_cacc59 {
    background: rgba(0, 0, 0, 0.289);
  }
  .theme-light .typeMacOS_cacc59 {
    background: var(--PGBackground);
    border-bottom: 0px solid rgba(186, 186, 186, 0.386);
  } 
  .platform-osx .wrapper__216eb {
    margin: 0;
    padding: 0;
  }
